
@font-face {
    font-family: Shabnam;
    src: url('Shabnam.eot');
    src: url('Shabnam.eot?#iefix') format('embedded-opentype'),
    url('Shabnam.woff') format('woff'),
    url('Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url('Shabnam-Bold.eot');
    src: url('Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('Shabnam-Bold.woff') format('woff'),
    url('Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('Shabnam-Light.eot');
    src: url('Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('Shabnam-Light.woff') format('woff'),
    url('Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

.first-nav {
  display: block !important;
  width: 50% !important;
  margin: auto !important;
}
.navbarmine{
  padding-top:10px;
  float:left;
  width:100%;

}
.persian {
    font-family: 'Shabnam', sans-serif;
    text-align: right;
    direction: rtl;
    color: #666;
}

body {
    direction: rtl;
}


.buttons{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
}
.buttons ul{
    list-style:none;
    position:relative;
    left:50%;
}

.buttons li{float:left;position:relative;}/* ie needs position:relative here*/

.buttons a{
    text-decoration:none;
    margin:10px;
    background:red;
    float:left;
    border:2px outset blue;
    color:#fff;
    padding:2px 5px;
    text-align:center;
    white-space:nowrap;
}



.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

input, select {
    display: inline;
    background-color: #f2f2f2;
    left: 0;
    float: left;
    top: -18px;
    margin: 8px;
}

ul.header {
    display: block;
    position: sticky;
    list-style-type: none;
    margin: 20;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}


li.header {
    float: left;
    width: 10%;
}


li.header a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li.header a:hover:not(.active) {
    background-color: #ddd;
}


html {
    box-sizing: border-box;
}



.pompe-benzin {
    margin: 10px;
    display: inline-block;
}

.subscription-key {
    background: #3a6ee8;
    margin-top: 0;
    padding: 0 10px!important;
    vertical-align: bottom;
    color: #fff;
    height: 42px!important;
    width: 42px;
    line-height: 42px!important;
    border-radius: 50%!important;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 20px!important;
}

.login-btn {
    border: 1px solid #3a6ee8;
    color: #3a6ee8;
    border-radius: 7px;
    transition: all 0.3s ease;
    font-weight: 400;
    padding: 11px 8px;
    position: relative;
    line-height: 1.42857143;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
}

.search-form {
  float: left;
  margin-top: 10px;
}


ul.kiresag {
    display: block;
    list-style-type: none;
    width: 50%;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}


li.kiresag {
    border-right: 0.5px solid #bbb;
    float: left;
    width: 14.28%;
}

li:last-child.kiresag {
    border-right: none;
}


.widget-text {
    color: black;
}

.clearfix {
    margin-bottom: 10px;
}

li.kiresag a {
    font-size: 12px;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li.kiresag a:hover:not(.active) {
    background-color: #ddd;
}

.second-footer {
  width: 85% ;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.right-footer {
  color: blue;
  display: inline-block;
  width: 50%;
  padding: 10px;
}

.left-footer {

  display: inline-block;
  padding: 10px;
  padding-left: 60px;
  width: 49%;
  font-size: 13px;
  color: #666;
}

.content-box {
  border: 2px solid black;
  width: 50%;
  height: auto;
  padding: 2px;
  margin-right: 0;
  font-size: 13px;
  color: #666;
}

hr {
    border-color: blue;
}

.bottom-text {
    display: inline;
}

.bottom-line {
    display: inline-block;
    padding: 10px;
    color: blue;
    text-align: center;
}

.social-media {
  margin-top: 20px;
  clear: both;
  float: right;
  width: 100%;
}

.social-media a {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.site-footer{
  float: right;
      margin-top: 40px;
      width: 100%;
      color: white;
      background-color: #f3f3f3;}

.bottom {
  color: blue;
  text-align: center;
  padding-top: 10px;
  font-size: 10px;
}

.modalHeader {
  background-color: #d2d2d2;

}

.modalTab {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.modalInput {
  background-color: #f5f5f5 !important;
}

.form-group.required .control-label:after {
   content:"*";
   color:red;
}

.social-login {
  width: 80%;
  margin:auto;
}

.social-divider {
  width: 100%;
  margin: auto;
  text-align: center;
}

.social-divider span {
  font-family: 'Shabnam', sans-serif;
  border: 1px solid #d4d4d4;
  border-radius: 50%;
  display: inline-block;
  color: #bbb;
  height: 32px;
  width: 32px;
  line-height: 32px;
  position: relative;
  background: #fff;
}

.sign-up-button {
  text-align: center !important;
}

.social-button {
  text-align: center !important;
  margin: 5% 0;
  width: 100%;
}


/*
.social-divider::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background: #d4d4d4;
  top: 50%;
  left: 0;
}*/

.google {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-right: 150px;
  height: 45px;
  text-align: center;
  background-color: #D53333;
}

.nav-search {
  width: 130px;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
  background-image: url("public/img/search.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.nav-search:focus {
  width: 100%;
}

ul.iran-nav {
    display: block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left:25%;
}


li.iran-nav {
    float: left;
    width: 7%;
}


li.iran-nav a {
    font-size: 10px;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 1px;
    text-decoration: none;

}

.nav-back {
  background-color: #f3f3f3;
}

li.iran-nav a:hover:not(.active) {
    background-color: #ddd;
}

.instagram {
  vertical-align: middle;
  color: red;
}
