{{set . "title" "comment"}}
{{template "header.html" .}}

  {{template "site-header.html" .}}

    <div class="detailBG">
    </div>
    <!-- navigation bar -->
    <div id="topnavbar">
      <div class="wrapper">
        <h4>
          خانه > انیمیشن > دانلود انیمیشن فلان
        </h4>
      </div>
    </div>
    <!-- end navigation bar -->

    <div class="post-title">
      <div class="wrapper">
        <h3>
          دانلود انیمیشن Batman: Gotham by Gaslight 2018
        </h3>

        <div class="little-items">
          <a href="#" class="selected">جنایی</a>
          <a href="#" class="selected">ممممم</a>
          <a href="#" class="selected">ییییی</a>
        </div>

      </div>
    </div>

    <div class="post-details">
      <div class="wrapper">
        <div class="right">
          <img class="postimg" src="/public/img/batman.jpg">
        </div>
        <div class="right details">
          <div class="topDetails">
2018 1 ساعت و 18 دقیقه زبان : انگلیسی  R محصول کشور ایالات متحده
          </div>
          <div class="middleDetails">
            بتمن در سنای شهر گاتهام جانشین ویکتوریا، در حالی که یک سری از قتل های جدید "جک رپپر" را بررسی می کند جنگ خود علیه جرایم را آغاز می کند ...
          </div>
          <div class="bottomDetails">
            کارگردان : Sam Liu <br/>
            نویسنده : James Krieg , Bob Kane , Bill Finger <br/>
            ستارگان : Bruce Greenwood , Jennifer Carpenter , Chris Cox  | مشاهده همه عوامل ... <br/>
            دسته : اکشن , پویانمایی , ماجراجویی , انیمیشن , انیمیشن 2018 , دانلود انیمیشن<br/>
          </div>
        </div>
      </div>
    </div>
    <!-- TODO: put ur fking sit here i mean tabs -->


      <div class="commentSection">
        <!-- TODO: movie id -->
        <div id="movieid" class="hidden">movieid</div>
        <div class="wrapper">
          <div class="commentarea">
            <div class="form-group">
              <div class="sliderContainer right">
                <label>
                  کارگردان
                </label>
                <input type="range" min="1" max="5" value="0" class="slider" id="director">
                <br/>
                <label>
                  بازیگری
                </label>
                <input type="range" min="1" max="5" value="0" class="slider" id="cast">
                <br/>
                <label>
                  فیلم نامه
                </label>
                <input type="range" min="1" max="5" value="0" class="slider" id="screenplay">
              </div>
              <!-- TODO:  user image -->
              <img class="userimg right" src="/public/img/userimg.png">

              <div class="commentContainer right">
              <textarea id="thecomment" class="comment" placeholder="نظر خود را درباره این آیتم بنویسید..."></textarea>
                <input class="" type="radio" name="gender" value="nocomment"> نظری
                <input type="radio" name="gender" value="notrec"> پیشنهاد نمیکنم
                <input type="radio" name="gender" value="recommended"> پیشنهاد می کنم
              </div>
              <button id="submitcomment" onclick="send();" type="button" class="btn btn-success left" >ثبت دیدگاه</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end comment section -->


      <!-- comment section -->
      <div class="commentSection">
        <div class="wrapper">
          <div class="commentarea">
            <div class="form-group">
              <div class="sliderContainer right">
                <label>
                  کارگردان
                </label>
                <input type="range" min="1" max="5" value="2" class="slider" id="director" disabled>
                <br/>
                <label>
                  بازیگری
                </label>
                <input type="range" min="1" max="5" value="3" class="slider" id="cast" disabled>
                <br/>
                <label>
                  فیلم نامه
                </label>
                <input type="range" min="1" max="5" value="5" class="slider" id="screenplay" disabled>
              </div>
              <!-- TODO:  user image -->
              <img class="userimg right" src="/public/img/userimg.png">

              <div class="commentContainer right">
                <div class="text-gray small right">29 آبان 96</div>
                <div class="suggest left">
                  <div class="suggestion green">
                    پیشنهاد می کنم
                  </div>
                </div>
                <br>
                <br>
               <p>
                  چه شعری بود این
               </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end comment section -->

      <!-- comment section -->
      <div class="commentSection">
        <div class="wrapper">
          <div class="commentarea">
            <div class="form-group">
              <div class="sliderContainer right">
                <label>
                  کارگردان
                </label>
                <input type="range" min="1" max="5" value="3" class="slider" id="director" disabled>
                <br/>
                <label>
                  بازیگری
                </label>
                <input type="range" min="1" max="5" value="1" class="slider" id="cast" disabled>
                <br/>
                <label>
                  فیلم نامه
                </label>
                <input type="range" min="1" max="5" value="2" class="slider" id="screenplay" disabled>
              </div>
              <!-- TODO:  user image -->
              <img class="userimg right" src="/public/img/userimg.png">

              <div class="commentContainer right">
                <div class="text-gray small right">29 آبان 96</div>
                <div class="suggest left">
                  <div class="suggestion red">
                    پیشنهاد نمی کنم
                  </div>
                </div>
                <br>
                <br>
               <p>
                  چه شعری بود این
               </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end comment section -->



        <!-- TODO: delete this  -->
        <div id="test">
        </div>
        <!-- TODO: end delete this -->


<script>
function send() {
        var comment = {
            CommentText: $("#thecomment").val(),
            Rate:$("#director").val(),
            MovieId:$("#movieid").val()
        }

        $('#submitcomment').html('sending..');

        $.ajax({
            url: '/movies/'+$("#movieid").val()+'comments',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                $('#submitcomment').html(data.msg);
            },
            data: person
        });
    }
</script>
