{{set . "title" "Download"}}
{{template "header.html" .}}

  {{template "site-header.html" .}}

  <div class="col-md-12 col-sm-12 col-xs-12 persian download-main">
    <ul class="nav nav-tabs nav-justified download-tab">
      <li class="active"><a href="#download">دانلود</a></li>
      <li><a href="#">زیرنویس</a></li>
      <li><a href="#">نظر کاربران</a></li>
      <li><a href="#">نقد و بررسی</a></li>
      <li><a href="#">عوامل فیلم</a></li>
      <li><a href="#">جوایز</a></li>
      <li><a href="#">گالری</a></li>
    </ul>


    <div class="tab-content">
      <div id="download" class="tab-pane fade in active">
        <div class="score-panel">
          <div class="rating-slider col-sm-5">
            <div class="rangeItem">
              <label class="col-xs-12 text-right green ara_result persian">۵ نفراز ۱۰ نفر گفتن خوبه</label>
              <div class="col-xs-12 nopad slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="scoreRange">
              </div>
              <p>نتایج آرا کاربران بر اساس کارگردانی + بازیگری + فیلمنامه</p>
            </div>
        </div>
        <div class="col-sm-4 nopad">
          <div class="viewer-suggestion">
            <p class="persian big-sign blue-sign">۵۴ نفر گفتن ببین ذیگه</p>
          </div>
        </div>
        <div class="col-sm-3 nopad">
          <div class="submitScore persian">
            <p class="persian big-sign gray-sign">شما هم بر اساس ارزش دانلود به این فیلم رای دهید</p>
            <button type="button" class="btn btn-primary btn-lg persian">امتیاز دهید</button>
          </div>
        </div>
      </div>


      <div class="selector-array col-sm-8 row">
        <div class="detatil-selector col-sm-3 dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
        <div class="detatil-selector col-sm-3">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
        <div class="detatil-selector col-sm-3">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
        <div class="detatil-selector col-sm-3">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="view-selector">
          <a>
            <i class="fa fa-list fa-2x" aria-hidden="true"></i>
          </a>
          <a>
            <i class="fa fa-table fa-2x" aria-hidden="true"></i>
          </a>

          <p>? راهنما</p>

          <div class="perian" style="margin-top: 50px;">
            <form>
              <label class="radio-inline">
                <input type="radio" name="optradio">پیشنهادی
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio">اختصاصی
              </label>
            </form>
          </div>
        </div>
      </div>
      <div class="clearfix">
      </div>

      <div>
        <div class="download-bar-header">
          <div class="download-bar-title">
            <span>1080p</span>
          </div>
        </div>
      </div>

      </div>
    </div>
    </div>
  </div>
