{{set . "title" "Home"}}
{{template "header.html" .}}

  {{template "site-header.html" .}}

   <!-- top search area -->
  <div id="toparea" class="row nopad">
    <div class="wrapper">
      <img src="/public/img/startwars.jpg" class="img-responsive"/>
    </div>
    <div class="caption">
      <p>
             دانلود فیلم، سریال، انیمیشن، مستند و دوبله با 13256 عنوان
      </p>
      <div class="form-group">
        <circle-button color=”green” icon =”fa-search” @click=”” />
        <input type="text" class="form-control" id="search" placeholder="جستجوی فیلم، سریال، بازیگر، کارگردان و ...">
        <button type="button" class="btn btn-warning submitsearch" >جستجو</button>
      </div>
    </div>
  </div>
    <!-- end top search area -->

    <!-- slider -->
    <div id="slider" class="row">
      <div class="wrapper">
        <div class="areaheader">
          <div class="areatitle">
              جدیدترین عناوین
          </div>

          <div class="items">
             <a href="#" >همه</a>
             <a href="#"  class="selected">فیلم سینمایی</a>
             <a href="#">انیمیشن</a>
             <a href="#">مستند</a>
             <a href="#">دوبله</a>
          </div>
        </div>

        <div class="owl-nav left">
          <div class="owl-prev customNextBtn navbtn"><i class="fa fa-chevron-circle-left"></i></div>
        </div>
        <div class="carousel">

            <div class="owl-carousel owl-theme owl-rtl">

              {{range .movies}}
              <div class="item">
                  <a href="/movies/{{.Id}}/details" rel="nofollow" class="fill_href">
                    <img class="animate lazyOwl" src="/public/posters/{{.Id}}.jpg"
                    alt="دانلود فیلم Lazer Team 2" style="display: inline;">
                  </a>
              </div>
              {{end}}

            </div>
        </div>
        <div class="owl-nav right">
          <div class="owl-next customPrevBtn navbtn"><i class="fa fa-chevron-circle-right"></i></div>
        </div>
      </div>
    </div>


    <!-- Banner -->
    <div id="banner">
      <div class="wrapper">
        <img src="/public/img/banner.png">
        <div class="caption2">
          <h3>
                اژدها پا به هنگ‎کنگ می‌گذارد
          </h3>
          <h4>
            دانی ین در نقش سلطان مواد مخدر
          </h4>
          <button type="button" class="btn btn-mine">
            بلوری دانلود کنید!
          </button>
        </div>
      </div>
    </div>
    <!-- End Banner -->

    <!-- hottests -->

    <div id="hottest">
      <div class="wrapper">
        <div class="hottest-title">
          <h4>
            <strong>
              داغ ترین ها
            </strong>
          </h4>
        </div>
              <div class="hot-item pupleyellow">
                  <a href="http://iranfilm.info/movies/lazer-team-2/" rel="nofollow" class="fill_href">
                    <div class="hImgWrapper">
                      <img class="hot-img" src="http://media.iranfilm.info/title/tt6730898/poster_thumbnail.jpg">
                    </div>
                    <div class="hot-caption">
                        <div class="little-items">
                            <a href="#" class="selected">جنایی</a>
                            <a href="#" class="selected">کسشر</a>
                            <a href="#" class="selected">کیری</a>

                        </div>
                    </div>
                  </a>
              </div>

              <div class="hot-item cyanorange">
                <a href="http://iranfilm.info/movies/kickboxer-retaliation/" rel="nofollow" class="fill_href">
                  <div class="hImgWrapper">
                    <img class="hot-img" src="/public/img/1.jpg">
                  </div>
                  <div class="hot-caption">
                      <div class="little-items">
                          <a href="#" class="selected">جنایی</a>
                          <a href="#" class="selected">کسشر</a>
                          <a href="#" class="selected">کیری</a>

                      </div>
                      <button type="button" class="btn btn-mine-small">
                        BlueRay
                      </button>
                      <button type="button" class="btn btn-mine-small">
                        7.1 *
                      </button>
                  </div>
                </a>
              </div>
      </div>
    </div>
    {{template "site-footer.html" .}}

    <script src="/public/carousel/owl.carousel.min.js"></script>
    <script>
    $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        dots: false,
        rtl: true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:5
            }
        }
      });
      var owl = $('.owl-carousel');
      owl.owlCarousel();
      // Go to the next item
      $('.customNextBtn').click(function() {
          owl.trigger('next.owl.carousel');
      })
      // Go to the previous item
      $('.customPrevBtn').click(function() {
          // With optional speed parameter
          // Parameters has to be in square bracket '[]'
          owl.trigger('prev.owl.carousel', [300]);
      });

    });


    </script>
