<div>
  <div class="pompe-benzin"> <!-- first header-->
    <button type="button" rel="nofollow" class="btn login-btn persian" data-toggle="modal" data-target="#login">ورود/عضویت</button>
    <a href="/profile" data-origin-title="dd" class=" btn subscription-key">
      <i class="fa fa-address-card-o" aria-hidden="true"></i>
    </a>
  </div>
  <div class="container-fluid search-form">
    <form action="/search.go">
      <input class="nav-search" type="text" name="search-movie" placeholder="search ...">
    </form>
  </div>
</div>

    <div class="nav-back"> <!-- second header-->
       <ul class="iran-nav">
         <li class = "iran-nav persian dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" href="#home">آخرین ها
           <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="#">Page 1-1</a></li>
             <li><a href="#">Page 1-2</a></li>
             <li><a href="#">Page 1-3</a></li>
           </ul>
         </li>
         <li class = "iran-nav persian"><a href="#news">فیلم</a></li>
         <li class = "iran-nav persian"><a href="#contact">سریال</a></li>
         <li class = "iran-nav persian"><a href="#contact">انیمیشن</a></li>
         <li class = "iran-nav persian"><a href="#contact">مستند</a></li>
         <li class = "iran-nav persian"><a href="#contact">مجموعه ها</a></li>
         <li class = "iran-nav persian"><a href="#contact">انیمه</a></li>
         <li class = "iran-nav persian"><a href="#contact">دوبله</a></li>
         <li class = "iran-nav persian"><a href="#contact">زیگزاگ</a></li>
         <li class = "iran-nav persian"><a href="#contact">باکس آفیس</a></li>
         <li class = "iran-nav persian"><a href="#contact">آنوس</a></li>
         <li class = "iran-nav persian"><a href="#contact">برترین ها</a></li>

       </ul>
     </div>






     <!-- Modal -->
         <div class="modal add-modal fade in" id="login" role="dialog">
           <div class="modal-dialog">
             <!-- Modal content-->
             <div class="modal-content">
               <div class="modal-header modalHeader">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <div class="modalTabs">
                 <ul class="nav nav-tabs nav-justified">
                   <li class="active persian">
                     <a data-toggle="tab" href="#signUpTab">عضویت</a>
                   </li>
                   <li><a class="persian" data-toggle="tab" href="#loginTab">ورود</a></li>
                 </ul>
               </div>
               <div class="tab-content">

                 <div id="loginTab" class="modalTab tab-pane fade in">
                   <form class="form-horizontal" action="/action_page.php">
                     <div class="form-group required">
                       <label class="right control-label col-sm-3 persian" for="email">ایمیل</label>
                       <div class="col-sm-9">
                         <input type="email" class="form-control modalInput persian" id="email" placeholder="ایمیل" name="email">
                       </div>
                     </div>
                     <div class="form-group required">
                       <label class="right control-label col-sm-3 persian" for="pwd">رمز عبور</label>
                       <div class="col-sm-9">
                         <input type="password" class="form-control modalInput persian" id="pwd" placeholder="رمز عبور" name="pwd">
                       </div>
                     </div>
                     <div class="form-group required">
                       <label class="right control-label col-sm-3 persian" for="repass">تکرار رمز عبور</label>
                       <div class="col-sm-9">
                         <input type="password" class="form-control modalInput persian" id="repas" placeholder="تکرار رمز عبور" name="repass">
                       </div>
                     </div>
                     <div class="form-group">
                       <label class="right control-label col-sm-3 persian" for="invitation">کد دعوت</label>
                       <div class="col-sm-9">
                         <input type="password" class="form-control modalInput persian" id="invitation" placeholder="کد دعوت" name="repass">
                       </div>
                     </div>
                     <div class="form-group required">
                       <label class="right control-label col-sm-3 persian" for="captcha">کد امنیتی</label>
                       <div class="col-sm-9">
                         <input type="password" class="form-control modalInput persian" id="captcha" placeholder="کد امنیتی" name="repass">
                       </div>
                     </div>
                     <div class="form-group">
                       <div class="col-sm-offset-3 col-sm-10">
                         <div class="persian">
                           <label><input type="checkbox" style="margin-right: 10px;" name="remember">قوانین را مطالعه کردم و میپذیرم</label>
                         </div>
                       </div>
                     </div>
                     <div class="form-group">
                       <div class="sign-up-button">
                         <button type="button persian" class="btn btn-primary">عضویت</button>
                       </div>
                     </div>
                   </form>

                  </div>
                 <div id="signUpTab" class="tab-pane fade in active">

                   <div id="loginTab" class="modalTab tab-pane fade in">
                     <form class="form-horizontal" action="/action_page.php">
                       <div class="form-group required">
                         <label class=" right control-label col-sm-3 persian" for="username">شناسه ورود</label>
                         <div class="col-sm-9">
                           <input type="password" class="form-control modalInput persian" id="username" placeholder="شناسه ورود" name="pwd">
                         </div>
                       </div>
                       <div class="form-group required">
                         <label class=" right control-label col-sm-3 persian" for="pwd">رمز عبور</label>
                         <div class="col-sm-9">
                           <input type="password" class="form-control modalInput persian" id="pwd" placeholder="رمز عبور" name="pwd">
                         </div>
                       </div>
                       <div class="form-group required">
                         <label class="right control-label col-sm-3 persian" for="captcha">کد امنیتی</label>
                         <div class="col-sm-9">
                           <input type="password" class="form-control modalInput persian" id="captcha" placeholder="کد امنیتی" name="repass">
                         </div>
                       </div>
                       <div class="form-group">
                         <div class="col-sm-offset-3 col-sm-10">
                           <div class=" persian">
                             <label style="margin-left: 10px;" >قوانین را مطالعه کردم و میپذیرم</label>
                              <input class="fnone" type="checkbox" name="remember">
                           </div>
                         </div>
                       </div>
                       <div class="form-group">
                         <div class="sign-up-button">
                           <button type="button persian" class="btn btn-primary">عضویت</button>
                         </div>
                       </div>
                     </form>
                 </div>

               </div>
               <div class="social-login">
                <div class="social-divider">
                 <span>یا</span>
                </div>
                  <div class="social-button">
                  <button type="button" class="btn btn-danger">
                ورود با حساب کاربری گوگل
                  </button>
                </div>
               </div>
             </div>

           </div>
         </div>
       </div>
